
# the final website URL (something like http://evolution.ibmc.up.pt/~flavio/bio)
SITE_URL="http://localhost/biosed"

# site location in apache's document root
# example: /var/www/html/biosed
# this will create the symlink 'biosed' in /var/www/html/ that points
# to a directory on the BioSeD directory.
SITE_DIR="/var/www/html/biosed"

# database name
# if the database user can create databases and the
# database does not exist, it will be created for you.
# if no permission was granted, you *have* to create one before hand.
DATABASE="biosed"

# database username
USER="root"

# uncomment this variable if you want the NCBI taxonomy database installed
NCBI=yes

# uncomment this variable if you want EMBOSS labels to be installed
EMBOSS=yes

# automatic installation of cron job
CRON_JOB=yes
