body {
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  background: #ccc;
  padding: 0px;
  margin: 0px;
  font-size: 12pt;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #c00;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 16pt;
}

h1, h2, h3, h4 {
  font-family: Arial, Helvetica,Verdana, Arial;
}

body>div#leftmenu {
  margin-bottom: 20px;
  width: 195px;
  background: #fff;
  border: 1px solid #000;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 20px;
  float:left;
}

body>div#top {
  opacity: 0.92;
}

body>div#content, body>div#footer, body>div#top {
  margin-right: 30px;
}

body>div#leftmenu, body>div#content {
  margin-top: 10px;
}

body>div#content, body>div#footer {
  background:#fff;
  margin-left: 245px;
  border: 1px solid #000;
  margin-bottom: 15px;
  padding-left: 25px;
}

body>div#content {
  padding-top: 5px;
  padding-bottom: 35px;
  z-index: 0;
}

body>div#footer {
  padding-top: 0px;
  padding-bottom: 0;
}

#small-footer {
  font-size: 55%;
}

#footer img {
  vertical-align: middle;
}

body>div#top, body>div#leftmenu {
  margin-left: 30px;
}

body>div#top {
  background: #fff;
  border: 1px solid #000;
  margin-top: 30px;
  voice-family: "\"}\"";
  voice-family: inherit;
  height: 120px;
  padding-left: 10px;
  position: relative;
}

body>div#top #left_top {
  width: 30%;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  margin-left: 15px;
  margin-top: 13px;
  vertical-align: center;
}

body>div#top #left_top img {
  border: 0;
}

body>div#top #right_top {
  width: 70%;
  top:0;
  right:0;
  position: absolute;
  vertical-align: center;
}

body>div#top h1 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 40pt;
  display: inline;
}

body>div#top img {
  margin-top: 5px;
  vertical-align: bottom;
}

#comment_db {
  font-size: 80%;
  font-style: italic;
  display: block;
  margin-left: 92px;
  margin-top: -2px;
}

#number_sequences {
  font-size: 80%;
  border: 1px solid black;
  padding: 2px;
  color: black;
  font-weight: normal;
  position: absolute;
  top: 70px;
  right: 20px;
}

#form_search_global {
  position: absolute;
  top: 30px;
  right: 15px;
}

#number_sequences:hover {
  background: #CC0000;
  color: white;
}

.desc {
  float:left;
  width: 170px;
  text-align:right;
  padding-right: 10px;
  font-weight: bold;
}

body>div#leftmenu .desc {
  width: auto;
}

form div.row {
  margin-top: 2px;
}

body>div#leftmenu form div.row {
  margin-top: 5px;
}

form input.submit {
  margin-top: 10px;
}

label.formerror {
  color:red;
}

body>div#leftmenu form input {
  width: 170px;
}

body>div#leftmenu form
{
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

div.data_show, fieldset {
  border: solid 1px black;
  margin-right: 20px;
}

p.help {
  font-size: 80%;
  text-decoration: underline;
}

span.comment {
  font-style: italic;
}

.code {
  font-family: "courier";
  text-align: left;
}

div.error_msg, div.info_msg {
  font-size: 95%;
  font-weight: bold;
  border: 3px solid red;
  margin: 5px;
  margin-top: 10px;
  width: 70%;
  padding-top: 5px;
  padding-bottom: 19px;
  padding-left: 10px;
}

div.error_msg img, div.info_msg img {
  float: left;
  margin-right: 10px;
}

a.hide_box {
  font-size: 70%;
  text-decoration: underline;
  margin-left: 5px;
}

img.loader {
  margin-bottom: 10px;
}

div.grid_form {
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 98%;
}

img.plus_image, img.minus_image {
  border: 0;
}

body>div#content hr {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-top: 1px dashed black;
  margin-top: 5px;
  margin-right: 3px;
}

.writeable {
  background-color: #DDD;
}

.writeable:hover {
  background-color: #BBB;
}

span.minus_text, span.plus_text, span.clickable, a.clickable {
  text-decoration: underline;
}

span.label_valid {
  color: rgb(19, 119, 61);
}

span.label_invalid {
  color: rgb(110, 0, 0);
}

.centered {
  text-align: center;
}

img.image_url {
  border-width:0;
  cursor: pointer;
}

table.fixed_table {
  table-layout: fixed;
}

#label_error {
  border: 3px solid #cc0000;
  margin: 2px;
  margin-bottom: 15px;
  font-size: 120%;
  padding: 3px;
}

#warning_search {
  font-size: 80%;
  font-style: italic;
}

input[type=text], input[type=password], input[type=file], textarea, select {
  padding: 0;
  border: solid 1px black;
  background: #F8F8FF;
  font-size: 100%;
}

input, textarea, select {
  font-family: Arial;
}

input[type=text]:hover, input[type=password]:hover, input[type=file]:hover, textarea:hover, select:hover {
  background: #E0EEEE;
}

input[type=submit] {
  background: #F8F8FF;
  border: solid 1px black;
  color: black;
  font-size: 100%;
  cursor: pointer;
}

input[type=submit]:hover {
  color: white;
  background: #cc0000;
}

input[disabled], select[disabled] {
  background: lightgrey;
}

div#leftmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 170px;
}

div#leftmenu ul#main_menu {
  margin-bottom: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

div#leftmenu ul li {
  position: relative;
  margin-bottom: 1px;
}

div#leftmenu li ul {
  position: absolute;
  left: 175px;
  top: 0;
  display: none;
}

/* submenus */
div#leftmenu li ul li ul {
  left: 170px;
}

ul#main_menu a:hover {
  background: #E0EEEE;
}

div#leftmenu ul li a {
	display: block;
	text-decoration: none;
	background: #fff;
	padding: 5px;
	border: 1px solid black;
	padding-left: 15px;
}

div#leftmenu ul li ul, div#leftmenu ul li a:hover {
  
}

div#leftmenu li:hover ul, div#leftmenu li ul li:hover ul { display: block; }
div#leftmenu li:hover li ul { display: none; }

p.image-para {
  width: 95%;
  margin-top: 40px;
}

p.image-para img {
  vertical-align: top;
  margin: 10px;
  border: 1px solid black;
}

p.image-para img:hover {
  border: 5px double #c00;
}

.small-button {
  font-size: 95%;
  padding-left: 4px;
  padding-right: 4px;
  padding-top:0;
  text-decoration: none;
  background: #F8F8FF;
  border: solid 1px #cc0000;
}

.small-button:hover {
  background: #cc0000;;
  color: white;
  cursor: pointer;
}

.warning {
  font-size: 130%;
  color: red;
}