#data_row, #data_boolean_checkbox,
#label_row,
#term_other_fields,
#operator_input,
#data_input,
#data_row,
#data_boolean_input,
#data_boolean_checkbox,
#operator,
#and_form *,
#or_form *,
#not_form *,
#reset_form,
#and_form,
#or_form,
#not_form,
#submit_term,
#data_tax_input,
#data_tax,
#change_tax,
#data_seq_input,
#data_seq,
#change_seq,
#position_type,
#data_position_input,
#position_type_text,
#tree_form,
#tree_form *,
#add_label_form,
#add_label_form *,
#edit_label_form,
#edit_label_form *,
#delete_label_form,
#delete_label_form *,
#data_date_input,
#date_input,
#param_input *,
#param_input,
#delete_results_form,
#delete_results_form *
{
  display: inline;
}

label.search-desc {
  display: inline;
  text-align: right;
  padding-right: 5px;
  font-size: 120%;
}

#label_name {
  cursor: pointer;
  text-decoration: underline;
  font-size: 125%;
}

#operator_text, #position_type_text {
  cursor: pointer;
  font-size: 115%;
}

#label_name:hover, #operator_text:hover, #position_type_text:hover {
  background: lightgray;
}

.search-list {
  list-style: none;
}

.search-expand {
  background: #FFFFFE;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  width: 95%;
  margin-bottom: 5px;
}

.search-list {
  border-left: 1px dashed black;
}

.search-list[level="1"] {
  border-left: 0;
}

.search-expand[level="2"], .search-expand[level="3"] {
  border: 1px dotted black;
}

#search_tree, #search_human {
  margin-left: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  width: 95%;
  background: #FFFFFE;
  padding: 0px;
}

#search_human p {
  padding: 5px;
  padding-left: 10px;
}

#search_human {
  margin-top: 10px;
}

#search_tree {
  margin-top: 10px;
}

#search_tree li {
  margin-left: -15px;
}

#operator_box {
  margin-bottom: 10px;
  margin-top: 10px;
}

#operator_box form, #operations_box form {
  margin-right: 5px;
}

#transform_box, #generate_histogram_box {
  margin-bottom: 5px;
  margin-top: 5px;
}

#show_histogram_button {
  margin:0;
}

#operations_box {
  margin-bottom: 35px;
}

#search_box {
  padding-left: 2px;
  border-left: 1px dashed black;
}

#search_tree li[level="1"] {
  margin-left: -5px;
}

.selected-term {
  background: white;
  cursor: pointer;
  text-decoration: underline;
}

.selected-node > .expand-name {
  background: yellow;
}

.selected-node > .term-name {
  background: yellow;
}

.term-options {
  margin-left: 5px;
}

#show_tree {
  margin-top: 25px;
}

#change_tax, #change_seq {
  text-decoration: underline;
  cursor: pointer;
  font-size: 90%;
}

#data_tax, #data_seq {
  font-style: italic;
}

span.compound-operator {
  font-weight: bold;
  text-decoration: underline;
}

#term_form fieldset {
  padding-top: 10px;
}

#label_box {
  font-size: 85%;
}

#transform_box, #generate_histogram_box, #generate_sequences_box {
  font-size: 90%;
}