
body {
  font: 12px/1.2 Verdana, Arial, Helvetica, sans-serif;
  background: #ddd;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #c00;
}

body>div#leftmenu {
  margin-left: 10px;
  margin-top: 10px;
  width: 200px;
  background: #fff;
  border: 1px solid #000;
  padding-right: 4px;
  padding-left: 4px;
  float:left;
}

body>div#content {
  margin-top: 10px;
  background:#fff;
  margin-left: 230px;
  margin-right: 10px;
  border: 1px solid #000;
  padding-top: 5px;
  padding-left: 15px;
}

body>div#top {
  background: #fff;
  border: 1px solid #000;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  voice-family: "\"}\"";
  voice-family: inherit;
  height: 50px;
  padding-left: 10px;
}

body>div#footer {
  height: 50px;
  background-color: white;
  border-top: black 2px solid;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

div#clearfooter {
  height: 250px;
}

.desc {
  float:left;
  width: 170px;
  text-align:right;
  padding-right: 10px;
  font-weight: bold;
}

body>div#leftmenu .desc {
  width: auto;
}

form div.row {
  margin-top: 2px;
}

body>div#leftmenu form div.row {
  margin-top: 5px;
}

form input.submit {
  margin-top: 10px;
}

label.formerror {
  color:red;
}

body>div#leftmenu form input {
  width: 170px;
}

body>div#leftmenu form
{
  margin-bottom: 10px;
}

table.data {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
  font-weight: normal;
  font-size: 11px;
  color: #fff;
  background-color: #666;
  width: 95%;
  border: 0px;
  border-collapse: collapse;
  border-spacing: 0px;
}

table.data td {
  background-color: #CCC;
  color: #000;
  padding: 4px;
  border: 1px #fff solid;
}

table.data td.hed {
  background-color: #666;
  color: #fff;
  padding: 4px;
  text-align: left;
  border-bottom: 2px #fff solid;
  font-size: 12px;
  font-weight: bold;
}

table.data td.highlight {
  background-color: #da0;
}

tr .deletable_column {
}

div.data_show, fieldset {
  border: dotted 1px black;
  margin-right: 20px;
}

div.navigation {
  margin-top: 7px;
  border: 1px solid black;
  width: 200px;
  padding-left: 2px;
  padding-right: 2px;
  padding: 5px;
  height: 20px;
}

div.navigation a:hover {
  background: #c00;
  color: white;
  border: 1px dashed black;
}

div.navigation a.nav_previous {
  float: left;
}

div.navigation a.nav_next {
  float: right;
}

p.help {
  font-size: 80%;
  text-decoration: underline;
}

span.comment {
  font-style: italic;
}

span.code {
  font-family: "courier";
}

div.error_msg {
  font-size: 95%;
  font-weight: bold;
  border: 3px solid red;
  margin: 5px;
  margin-top: 10px;
  width: 70%;
  padding-top: 5px;
  padding-bottom: 19px;
  padding-left: 10px;
}

div.error_msg img {
  float: left;
  margin-right: 10px;
}

body>div#content img.user {
  margin-right: 10px;
}

div.error_msg a.hide_box {
  font-size: 70%;
  text-decoration: underline;
}

img.loader {
  margin-bottom: 10px;
}

div.grid_box {
  border-left: 1px dashed black;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 97%;
}

img.plus_image, img.minus_image {
  border: 0;
}

body>div#content hr {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-top: 1px dashed black;
  margin-top: 5px;
  margin-right: 3px;
}

.writeable {
  background-color: #DDD;
}

.writeable:hover {
  background-color: #BBB;
}

span.minus_text, span.plus_text, span.clickable, a.clickable {
  text-decoration: underline;
}

span.label_valid {
  color: rgb(19, 119, 61);
}

span.label_invalid {
  color: rgb(110, 0, 0);
}

.centered {
  color: blue;
  text-align: center;
}
